.card {
  list-style: none;
  padding: 0;
}

.card__image {
  height: 203px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
}

.card__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  background-color: #222222;
  border-radius: 0 0 10px 10px;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  max-width: 290px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__duration {
  margin: 17px 0 0 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  color: #8b8b8b;
}

.card__like {
  background: url(../../images/like.svg) no-repeat center;
  width: 14px;
  height: 12px;
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0 7px 0 0;
}

.card__like:hover {
  cursor: pointer;
}

.card__like-active {
  background: url(../../images/like-active.svg);
}

@media screen and (max-width: 800px) {
  .card__image {
    height: 190px;
  }
}

@media screen and (max-width: 500px) {
  .card__title {
    font-size: 12px;
    line-height: 15px;
  }

  .card__image {
    height: 168px;
  }
}