.form {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label {
  align-self: flex-start;
  margin: 8px 0 0px;
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

.form__label:first-of-type {
  margin: 0 0 0px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 0 10px;
  margin-bottom: 18px;
  background-color: #202020;
  border: 1px solid #202020;
  border-bottom: 1px solid #424242;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  outline: none;
}

.form__input-error {
  align-self: flex-start;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  margin-top: -13px;
}

.form__button {
  max-width: 396px;
  width: 100%;
  height: 45px;
  margin: 100px 0 16px;
  border: solid 1px grey;
  border-radius: 3px;
  background-color: grey;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  outline: none;
  transition: linear 0.4s;
}

.form__button_active {
  background-color: #4285f4;
  border: solid 1px #4285f4;

}

.form__button_active:hover {
  cursor: pointer;
}

.form__promt {
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.form__link {
  text-decoration: none;
  color: #4585f4;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  transition: linear 0.4s;
}

.form__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 450px) {
  .form {
    width: 260px;
  }

  .form__button {
    font-size: 12px;
    line-height: 14px;
  }

  .form__promt {
    font-size: 12px;
    line-height: 14px;
  }
}
